.register {
  padding-top: 100px;
  display: flex;
  justify-content: center;
  height: 100vh;
  background: url(../../assets//3.png);
  background-size: cover;
}

.formTitle {
  text-align: center;
}

.passNote {
  color: #0075f4;
  font-size: 12px;
  font-weight: bold;
}
